@page "/chat/{chatId:int}"
@using SimpleChat.Client.Components


@if (chat != null)
{
    <div class="chatWrapper">
        <h2>@chat.Name</h2>
        <button @onclick="GetHistoryMessages">get</button>
        
        <MessagesScroller Chat=@chat></MessagesScroller>
        
        <div class="sendFieldPanel">
            <div class="attachFile">
                <button class="oi oi-paperclip"></button>
                <input type="file">
                <i class=""></i>
            </div>
            <div class="inputWrap">
                <input @bind="messageInput" placeholder="Message text" class="textArea"/>
            </div>
            <div>
                <button @onclick="Send" class="oi oi-arrow-right"></button>
            </div>
        </div>
    </div>
}