.chat-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-head{
    display: flex;
    flex-direction: row;
    background-color: var(--theme-chat-header-background);
}

.chat-wrapper > h2 {
    text-align: end;
    margin-right: 10px;
}

.send-field-panel{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.send-field-panel button{
    color: #707070;
}

.attach-file{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.attach-file input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.input-wrap{
    width: 100%;
}

.chat-pic-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 90px;
    margin: 5px;
    height: 90px;
    border-radius: 50%;
    background-color: #1b6ec2;
}

.chat-pic{
    height: 90px;
    overflow: hidden;
}

.default-avatar{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25%;
    text-align: center;
    font-size: 30px;
}

.edit-button{
    text-align: left;
}

.text-area{
    width: 100%;
    border-radius: 5px;
    background: var(--theme-input-background);
    border: none;
}

