<div class="list-group">
    <button type="button" class="chat-card-item @(IsSelected ? "selected" : null) d-flex justify-content-between align-items-center block-button" @onclick="SelectChat">
        @Chat.Name
        <span class="badge badge-primary badge-pill">@Chat.Messages.Count()</span>
    </button>
</div>