<div id="blazor-error-ui" style="@(isShowError ? null : "display: none")">
    <button @onclick="@CloseError" class="oi oi-x close-error"></button>
    <h3>@ErrorState.Title</h3>
    <p>@ErrorState.Message</p>
</div>