<div id="messagesList">
    @for (var i = messages.Count - 1; i >= 0; i--)
    {
        var message = messages[i];

        @if (IsDateSplit(i))
        {
            <div class="dateSplit">
                @message.CreatedDate.ToShortDateString()
            </div>
        }

        <MessageComponent Message=@message DisplayUserName=@ShouldDisplayName(message, i) DisplayAvatar=@ShouldDisplayAvatar(message, i) />
    }
</div>