<div class="messageRow">
    <div class="messageUserAvatarWrap">
        @if (DisplayAvatar)
        {
            <img class="messageUserAvatar" src=@(Message.User.UserImg ?? DefaultAvatar)>
        }
    </div>
    <div class=@(Message.User.UserId == userId ? "imMessageWrap" : "smbdMessageWrap")>
        <div class="textColumn">
            @if (DisplayUserName)
            {
                <div class="messageUserName">@Message.User.UserName</div>
            }
            <div class="messageContent">@Message.Content</div>
        </div>
    </div>
    <div class="messageMetaWrap">
        <div class="messageMeta">@Message.CreatedDate.ToLocalTime().ToShortTimeString()</div>
    </div>
</div>
