<div class="message-row">
    <div class="message-user-avatar-wrap">
        @if (DisplayAvatar)
        {
            <img class="message-user-avatar" src=@(Message.User.UserImg ?? DefaultAvatar)>
        }
    </div>
    <div class=@(Message.User.UserId == userId ? "im-message-wrap" : "smbd-message-wrap")>
        <div>
            @if (DisplayUserName)
            {
                <div class="message-user-name">@Message.User.UserName</div>
            }
            <div class="message-content">@Message.Content</div>
        </div>
    </div>
    <div class="message-meta-wrap">
        <div class="message-meta">@Message.CreatedDate.ToLocalTime().ToShortTimeString()</div>
    </div>
</div>
