#messagesList{
    overflow: scroll;
    margin-top: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#messagesList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messagesList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dateSplit{
    display: block;
    min-width: 10px;
    padding: 4px 7px;
    line-height: 1.4;
    color: #999;
    text-align: center;
    border-radius: 10px;
    margin: 5px 0;
}