<h3>MessageComponent</h3>



<div class="messageRow">
    <div class="messageUserAvatarWrap">
        <img class="messageUserAvatar" src=@(IsDefaultAvatar ? DefaultAvatar : Message.User.UserImg)
             style=@(!IsDefaultAvatar && Message.User.UserImg == null ? "display: none" : null)>
    </div>
    <div class=@(Message.User.UserId == userId ? "imMessageWrap" : "smbdMessageWrap")>
        <div class="textColumn">
            <div class="messageUserName">@(IsUserName ? Message.User.UserName : null)</div >
            <div class="messageContent">@Message.Content</div>
        </div>
    </div>
    <div class="messageMetaWrap">
        <div class="messageMeta">@Message.CreatedDate.ToLocalTime().ToShortTimeString()</div>
    </div>
</div>

@code {

}