@inject IStringLocalizer<Resource> localizer

<footer class="fixed-bottom">
    <nav class="navbar">
        <a class="navbar-brand h5 mb-0" href="#">@localizer[Resource.Footer]</a>
    </nav>
</footer>