<header class="fixed-top">
    <nav class="navbar">
        <div class="navbar-brand-container">
            <a class="navbar-brand mb-0 h1" href="">SimpleChat</a>
        </div>
        
        <div class="ml-auto">
            <button @onclick="@SwitchTheme"><span class="oi @GetThemeIcon()" /></button>
            <button>eng</button>
        </div>
    </nav>
</header>