header {
    background-color: var(--theme-header-background);
    color: var(--theme-header-text);
}

a {
    color: var(--theme-header-text);
}

.navbar-brand-container {
    text-align: center;
    flex: auto;
    padding-left: 45px;
}

.navbar-brand {
    font-size: 1.1rem;
    margin-right: 0;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic:hover{
    transform: scale(1.1);
}

@media (min-width: 768px) {

    .navbar-brand-container {
        flex: none;
        padding-left: 0;
    }
}
