<header>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="navbar-brand-container">
            <a class="navbar-brand mb-0 h1" href="">SimpleChat</a>
        </div>
        
        <div class="ml-auto">
            <button @onclick="@(() => isDarkMod = !isDarkMod)"><span class="oi @(isDarkMod ? "oi-moon" : "oi-sun")" /></button>
            <button>eng<span class="oi oi-arrow-thick-bottom" /></button>
        </div>
    </nav>
</header>