<header class="fixed-top">
    <nav class="navbar">
        <div class="navbar-brand-container">
            <a class="navbar-brand mb-0 h1" href="">SimpleChat</a>
        </div>

        <div class="ml-auto">
            <button type="button" @onclick="OnUserModalClick">
                <img class="profile-pic" src="@UserStorage.UserPic" alt="User profile image" />
            </button>
        </div>
    </nav>
</header>