header {
    background-color: var(--theme-header-background);
    color: var(--theme-header-text);
}

a, .btn-link {
    color: var(--theme-header-text);
}

button {
    color: var(--theme-header-button);
}

.navbar-brand-container {
    text-align: center;
    flex: auto;
    padding-left: 45px;
}

.navbar-brand {
    font-size: 1.1rem;
    margin-right: 0;
}

@media (min-width: 768px) {

    .navbar-brand-container {
        flex: none;
        padding-left: 0;
    }
}
