main {
    display: flex;
    flex-direction: row;
    padding-top: 52px;
    height: 100vh;
}

#central-section {
    flex: auto;
}

#chats-section {
    background-color: var(--theme-chats-background);
}

.hiden {
    display: none;
}

.section-toggler {
    display: block;
}

.open {
    width: 100%;
}

@media (min-width: 768px) {

    #chats-section {
        display: block;
        min-width: 300px;
        max-width: 500px;
        width: 25%;
        position: sticky;
        left: 0;
    }

    main {
        padding-bottom: 55px;
    }

    .hiden {
        display: block;
    }

    .open {
        width: auto;
    }

    #chats-section > .section-toggler {
        display: none;
    }
}
