main {
    display: flex;
    flex-direction: row;
    padding-top: 52px;
    height: 100vh;
}

section.central {
    flex: auto;
}

section.user {
    background-color: chartreuse;
}

section.chats {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.hiden {
    display: none;
}

.section-toggler {
    display: block;
}

.open {
    width: 100%;
}

@media (min-width: 768px) {

    section.chats {
        display: block;
        min-width: 300px;
        max-width: 500px;
        width: 25%;
        position: sticky;
        left: 0;
    }

    section.user {
        max-width: 500px;
        position: sticky;
        right: 0;
    }

    main {
        padding-bottom: 56px;
    }

    .hiden {
        display: block;
    }

    .open {
        width: auto;
    }

    section.chats > .section-toggler {
        display: none;
    }
}
