@using SimpleChat.Client.Components

<nav @attributes="@InputAttributes">
    <ul class="list-group">
        @foreach (var chat in chats)
        {
            <ChatCard OnChatSelecting="@ChatSelected" IsSelected="chat.Id == selectedChatId" Chat="@chat" />
        }
    </ul>
</nav>