.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user-data{
    margin-left: 5%;
    width: 75%;
}
.button{
    margin-right: 5%;
    width: 15%;
    min-width: 35px;
    text-align: center;
}